:css
  #container {  
    background-position: 0px 0px;
    margin-bottom: 20px;
    bottom: 0px;
    height: auto;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 980px;
    align-self: stretch;
    perspective-origin: 490px 988.5px;
    transform-origin: 490px 988.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }

  #restaurant_container {
    margin-top: 20px;
    background-position: 0px 0px;    
    left: 0px;        
    position: relative;
    width: 980px;
    align-self: stretch;
  }
  
  #restaurant_box{
    margin-bottom: 20px;
    background-position: 0px 0px;
    bottom: 0px;
    min-height: 290px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 974px;
    align-self: stretch;
    perspective-origin: 490px 237.5px;
    transform-origin: 490px 237.5px;
    border: 3px solid rgb(0, 171, 159);
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }
  #restaurant_box:nth-child(even){
    color: rgb(255, 255, 255);
    background: rgba(0, 171, 159, 0.611765) none repeat scroll 0px 0px / auto padding-box border-box;
  }

  #restaurant_box:nth-child(odd){
    color: rgb(0, 171, 159);
    background: rgb(255, 255, 255) none repeat scroll 0px 0px / auto padding-box border-box;
  }


  #restaurant_banner_border{
    background-position: 0px 0px;
    cursor: default;
    height: 234px;
    width: 234px;
    perspective-origin: 117px 117px;
    transform-origin: 117px 117px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }
  /*#DIV_27, #DIV_65, #DIV_145, #DIV_183, #DIV_259*/
  #restaurant_image{
    border-radius: 20% 20% 20% 20%;
    background-position: 0px 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    cursor: default;
    height: 234px;
    width: 234px;
    perspective-origin: 117px 117px;
    transform-origin: 117px 117px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }

  #restaurant_comment_time{
    background-position: 0px 0px;
    height: 31px;
    left: 438px;
    min-height: 31px;
    overflow-wrap: break-word;
    position: absolute;
    top: 23px;
    width: 166px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 83px 15.5px;
    transform-origin: 83px 15.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }

  #restaurant_desc {
    background-position: 0px 0px;
    height: 175px;
    left: 273px;
    min-height: 175px;
    overflow-wrap: break-word;
    position: absolute;
    top: 120px;
    width: 700px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 272px 87.5px;
    transform-origin: 272px 87.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }
  /*#restaurant_desc*/
  #property_text {
    background-position: 0px 0px;
    / color: rgb(0, 171, 159);
    height: 25px;
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    perspective-origin: 272px 20.5px;
    transform-origin: 272px 20.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 171, 159);
    font: normal normal normal normal 15px/25px overlock, sans-serif;
    margin: 0px;
    outline: rgb(0, 171, 159) none 0px;
  }

  #restaurant_banner, #DIV_181 {
    background-position: 0px 0px;
    height: 240px;
    left: 30px;
    min-height: 240px;
    min-width: 240px;
    position: absolute;
    top: 28px;
    width: 240px;
    align-self: stretch;
    perspective-origin: 120px 120px;
    transform-origin: 120px 120px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }

  #relative_resturant{
    background-position: 0px 0px;
    height: 220px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 980px;
    align-self: stretch;
    perspective-origin: 80px 80px;
    transform-origin: 80px 80px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }
  #relative-resturant-border {
    float: left;
    background-position: 0px 0px;
    height: 160px;
    margin-left: 30px;
    left: 0px;
    min-height: 160px;
    min-width: 160px;
    position: relative;
    top: 0px;
    width: 160px;
    align-self: stretch;
    perspective-origin: 80px 80px;
    transform-origin: 80px 80px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }

  #relative-resturant-image-container {
    background-position: 0px 0px;
    cursor: default;
    height: 156px;
    width: 156px;
    perspective-origin: 78px 78px;
    transform-origin: 78px 78px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-radius: 20% 20% 20% 20%;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

  #relative-resturant-image {
    background-position: 0px 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    cursor: default;
    height: 156px;
    width: 156px;
    perspective-origin: 78px 78px;
    transform-origin: 78px 78px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }
  #restaurant_name { 
    background-position: 0px 0px;
    position: absolute;
    float: left;    
    margin-left: 20px;    
    top: 34px;
    word-wrap: break-word;
    perspective-origin: 150px 15.5px;
    transform-origin: 150px 15.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 10px/normal Arial, Helvetica, sans-serif;
  }

  #H1{
    background-position: 0px 0px;
    overflow-wrap: break-word;    
    word-wrap: normal;
    perspective-origin: 83px 15px;
    transform-origin: 83px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 171, 159);
    font-size: 30px;
    margin: 0px;
    outline: rgb(0, 171, 159) none 0px;
  }
  #H2{
    background-position: 0px 0px;
    height: 30px;
    overflow-wrap: break-word;
    width: 166px;
    word-wrap: break-word;
    perspective-origin: 83px 15px;
    transform-origin: 83px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 171, 159);
    font-size: 22px;
    margin: 0px;
    outline: rgb(0, 171, 159) none 0px;
  }

  #H3{
    background-position: 0px 0px;
    height: 30px;
    overflow-wrap: break-word;
    width: 166px;
    word-wrap: break-word;
    perspective-origin: 83px 15px;
    transform-origin: 83px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 171, 159);
    font-size: 18px;
    margin: 0px;
    outline: rgb(0, 171, 159) none 0px;
  }
  #H5{
    background-position: 0px 0px;
    height: 30px;
    overflow-wrap: break-word;
    width: 166px;
    word-wrap: break-word;
    perspective-origin: 83px 15px;
    transform-origin: 83px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 171, 159);
    font-size: 14px;
    margin: 0px;
    outline: rgb(0, 171, 159) none 0px;
  }


  #restaurant_star{
    left: 500px;
    height: 42px;
    top: 42px;
    position: absolute;
    width: 180px;    
  }
  #star{
    width: 32px
  }
  #restaurant_title_box{
    left: 254px;
    width: 700px;
    height: 70px;
    position: absolute;
  }
  .column{
    float: left;
  }
  .value{
    position: absolute;
    left: 75px;
  }
  #my_restaurant{
    min-height: 290px;
  }
  #relative-resturant-name{
    text-align: center;
    height: 200px;
    position: relative;
  }
  #relative_header{
    margin-left: 30px;
  }
  #good{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
  }
  #bad{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 32px;    
  }
  #good_text{
    margin: auto;
    position: absolute;
    top: 5px;
    left: 32px;
    background-position: 0px 0px;
    height: 32px;
    overflow-wrap: break-word;
    width: 168px;
    word-wrap: break-word;
    perspective-origin: 83px 15px;
    transform-origin: 83px 15px;    
    font-size: 22px;
  }
  #bad_text{
    margin: auto;
    position: absolute;
    top: 5px;
    left: 232px;
    background-position: 0px 0px;
    height: 32px;
    overflow-wrap: break-word;
    width: 168px;
    word-wrap: break-word;
    perspective-origin: 83px 15px;
    transform-origin: 83px 15px;    
    font-size: 22px;    
  }

  #recommend_numbers{
    width: 400px;
    heigt: 32px;
    position: absolute;
  }
  
  .btn{margin-top:2px;cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:18px;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
  .btn.primary,.btn.danger{color:#fff;}.btn.primary:hover,.btn.danger:hover{color:#fff;}
  .btn.primary{background-color:#0064cd;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));background-image:-moz-linear-gradient(#049cdb, #0064cd);background-image:-ms-linear-gradient(#049cdb, #0064cd);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image:-webkit-linear-gradient(#049cdb, #0064cd);background-image:-o-linear-gradient(#049cdb, #0064cd);background-image:linear-gradient(#049cdb, #0064cd);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#0064cd #0064cd #003f81;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
  form .clearfix{margin-bottom:18px;}
  form input[type=text],form input[type=password],form textarea,form select,form .uneditable-input{display:inline-block;width:210px;margin:0;padding:4px;font-size:13px;line-height:18px;height:18px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
  form input[type=text],form input[type=password],form select,form textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
  form input[type=text]:focus,form input[type=password]:focus,form textarea:focus{outline:none;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
 
#container
  #restaurant_container
    = form_tag({:controller=>"home", :action=> "search_result"},:name=>"searchform",:method=>"get",:multipart=>"true") do              
      .clearfix
        %span
          %b=raw "<a href='/' style='text-decoration:none;'><font color='#fff'>DailyRecommend</font></a>"
        = text_field "",:search_text,:style=>"width:500px"
        = submit_tag 'Search',{:field => :field, :class => "btn primary",:style=>"width:80px"} 
    - if @other_flag
      %h4=raw "<font color='#fff'>你的搜索结果较少，我们额外给你推荐其他餐厅...</font>"
    - if @recommends.count>0
      - @recommends.each do |recommend|
        - restaurant = recommend.myrestaurant
        #restaurant_box
          #my_restaurant
            #restaurant_banner
              #restaurant_banner_border
                %img#restaurant_image{:alt => "", :src => "#{restaurant.image_url}"}
            #restaurant_title_box            
              #restaurant_name
                %h1#H1
                  - name = restaurant.name.gsub(/\[(.+)\]/,'<font color=red>\1</font>').gsub('[','').gsub(']','')
                  = raw name
                #recommend_numbers                  
                  %img#good{:alt => "", :src => "#{asset_path('vote_yes.ico')}"}
                  %h2#good_text= "有#{recommend.recommend_count}人推荐"
                  %img#bad{:alt => "", :src => "#{asset_path('vote_no.ico')}"}
                  %h2#bad_text= "有#{recommend.unrecommend_count}人不推荐"
              #restaurant_star
                - score = recommend.recommend_level/10           
                - score.times do
                  %img#star{:src => "#{asset_path('star-full.png')}"}
                - (5-score).times do
                  %img#star{:src => "#{asset_path('star-empty.png')}"}

            #restaurant_desc
              %p#property_text
                %span.column 评价
                %span.value= "#{restaurant.scores}"
              %p#property_text
                %span.column 特色推荐
                - food_string = "（#{restaurant.type}） #{recommend.foods.map{|f| f.name}.join(' ') }"            
                - food_string = food_string.length > 40 ? "#{food_string.slice(0..40)}..." : food_string
                - food_string = food_string.gsub(/\[(.+?)\]/,'<font color=red>\1</font>').gsub('[','').gsub(']','')
                %span.value= raw food_string
              %p#property_text
                %span.column 人均消费 
                %span.value= "#{restaurant.price}"
              %p#property_text
                %span.column 地址 
                %span.value=raw "#{restaurant.address}".gsub(/\[(.+?)\]/,'<font color=red>\1</font>').gsub('[','').gsub(']','')
              %p#property_text
                %span.column 电话
                %span.value= "#{restaurant.telephone}"
              - if "#{restaurant.comment}" != ""
                %p#property_text
                  %span.column 
                    %img{:src => "#{asset_path('hui.png')}",:width=>'35',:height=>'20'}
                  - comment = "#{restaurant.comment}"
                  - comment = "#{comment.slice(0..40)}..." if comment.length > 40
                  - comment = comment.gsub(/\[(.+?)\]/,'<font color=red>\1</font>').gsub('[','').gsub(']','')
                  %span.value= raw comment
          - if recommend.related_restaurants 
            #relative_resturant
              #relative_header
                %span#H2= "推荐过该餐厅的人还推荐:"
              - recommend.related_restaurants.each do |relative_resturant|
                #relative-resturant-border
                  #relative-resturant-image-container
                    %img#relative-resturant-image{:alt => "", :src => "#{relative_resturant.image_url}"}
                  #relative-resturant-name
                    - relative_name = relative_resturant.name.length > 12 ? "#{relative_resturant.name.slice(0..10)}..." : relative_resturant.name
                    %span#H5{:title => relative_resturant.name} 
                      = relative_name 
