%h1 Listing foods

%table
  %tr
    %th Name
    %th Price
    %th Recommend time
    %th Food url
    %th Image url
    %th Restaurant
    %th
    %th
    %th

  - @foods.each do |food|
    %tr
      %td= food.name
      %td= food.price
      %td= food.recommend_time
      %td= food.food_url
      %td= food.image_url
      %td= food.restaurant_id
      %td= link_to 'Show', food
      %td= link_to 'Edit', edit_food_path(food)
      %td= link_to 'Destroy', food, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Food', new_food_path
